services:
  - type: web
    name: pai-do-verde
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn trabalho_final.wsgi:application"
  envVars:
  - key: CLOUDINARY_CLOUD_NAME
    value: dhc9wlndb
  - key: CLOUDINARY_API_KEY
    value: 794375647363166
  - key: CLOUDINARY_API_SECRET
    value: Ifoa8Z5A9eOQ99pez1clKeftsL8

databases:
  - name: pai-do-verde-db
    databaseName: pai_do_verde
    user: pai_do_verdo_user
    plan: free