/* Cores e variáveis do OSM */
:root {
    --verde-escuro: #15682e;
    --verde-primario: #1e7e34;
    --verde-medio: #ceefea;
    --verde-claro: #e8f5f2;
    --preto: #282828;
    --amarelo: #FCBA29;
    --cinza-texto: #494c4f;
    --branco: #ffffff;
    
    /* Fontes */
    --fonte-primaria: 'Ubuntu', sans-serif;
    --fonte-titulo: 'Caveat', cursive;
    
    /* Espaçamento */
    --espacamento-xs: 0.5rem;
    --espacamento-sm: 1rem;
    --espacamento-md: 1.5rem;
    --espacamento-lg: 2rem;
    --espacamento-xl: 3rem;
    
    /* Transições */
    --transicao: all 0.3s ease;
  }